# Ignore Environment file
.env

# Ignore Gradio logs
.gradio

# Ignore Python cache directories everywhere
__pycache__/
**/__pycache__/   # Ensure all __pycache__ folders are ignored
**/*.pyc          # Ignore compiled Python bytecode files
**/*.pyo
**/*.pyd

# Ignore Virtual Environments
myenv/

# Ignore uploaded files
uploaded*/

# Ignore any pycache-related files inside tools
tools/__pycache__/
tools/*.pyc
tools/*.pyo
tools/*.pyd
